*{
	margin: 0px;
	padding: 0px;
	
}




.header {
	width: 22.1%;
	height: 10%;
	margin: 50px auto 0px;
	color: white;
	background: #5f9ea0;
	text-align: center;
	border: 1px solid #b0c4d3;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 15px; 
}

form, .content {
	width: 300px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b0c4d3;
	background: white;
	border-radius: 0px 0px 10px 10px;	

}
.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input {
	height: 30px;
	width: 93px;
	padding: 5px 20px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray; 
}

.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width:92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #F2dede;
	border-radius: 5px;
	text-align: left;
}